
@{
    ViewData["Title"] = "LoadTable";
}

<h1>LoadTable</h1>
<hr/>
<div class="row">
    <div class="col-md-4">
        <input type="button" value="Load" class="btn btn-primary" onclick="location.href='@Url.Action("GetTableData", "Home")'" />
    </div>
</div>

