<h1>Home page</h1>

<button onclick="signIn()">Sign In</button>

<button onclick="callApi()">Call Api</button>

<div>
    <button onclick="signOut()">Sign out</button>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/oidc-client/1.9.1/oidc-client.min.js"></script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="~/main.js"></script>
