@model ExternalRegisterViewModel
@{
    Layout = "_Layout";
}
<body>
    <h1 class="text-center">Register page</h1>
    <div class="row justify-content-center">
        <form class="p-3 border border-dark rounded" asp-controller="Auth" asp-action="ExternalRegister" method="post">
            <input type="hidden" asp-for="ReturnUrl" />
            <div class="form-group">
                <label>Username</label>
                <input class="form-control" placeholder="Enter login" asp-for="Username" />
                <span asp-validation-for="Username"></span>
            </div>
            
            <button type="submit" class="btn btn-primary">Remember me</button>
        </form>
    </div>
    <div class="row justify-content-center">
        <a asp-controller="Auth" asp-action="Login"
           asp-route-returnUrl="@Model.ReturnUrl">Sign In</a>
    </div>

</body>